#images{
    width: 400px;
    height: 700px;
}
.d-block{
    height: 450px;
}
.footer{
    background-color: rgb(114, 108, 108);
    color: aliceblue;
    text-align: center;
}

.footer a{
    color: black;
}